body {
    background-color: #e7f6ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    background-color: white;
    width: 1163px;
    margin-inline: auto;
    border-radius: 42px;
}

ul {
    list-style-type: none;
}

.navigation {
    margin: 50px 23px 40px 23px;
    ul {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;

        .headerLeft {
            display: flex;
            gap: 20px;
            align-items: center;
        }
        .headerRight {
            display: flex;
            align-items: center;
            gap: 30px;
            > li {
                display: flex;
                gap: 15px;
                align-items: center;

                > img {
                    cursor: pointer;
                }
            }
        }
    }
}

hr {
    opacity: 0.5;
    max-width: 1163px;
    margin-inline: auto;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 40px 23px 30px 23px;
    > input {
        border-radius: 10px;
        &::placeholder {
            text-align: center;
        }
    }
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 1120px;
    margin-inline: auto;
    gap: 30px;
    padding-bottom: 20px;

    > div {
        display: flex;
        flex-direction: column;
        padding: 0px 5px 30px 30px;
        border: solid 1px rgba(128, 128, 128, 0.267);
        border-radius: 40px;
        &:hover {
            -webkit-box-shadow: 0px 2px 15px 8px rgba(0, 0, 0, 0.23);
            -moz-box-shadow: 0px 2px 15px 8px rgba(0, 0, 0, 0.23);
            box-shadow: 0px 2px 15px 8px rgba(0, 0, 0, 0.23);
        }

        > img {
            width: fit-content;
            transform: translate(0px, 37px);
            cursor: pointer;
        }

        > div {
            > div {
                > h1 {
                    font-size: 1rem;
                }
            }
        }
    }
    .section_button {
        display: flex;
        gap: 113px;
        margin-top: 10px;

        > div {
            display: flex;
            flex-direction: column;
            > h1 {
                color: #aaa0a0;
                font-size: 0.9rem;
                font-weight: 400;
            }
        }
        > img {
            cursor: pointer;
        }
    }
}

.cart {
    position: absolute;
    right: 0%;
    background-color: #ffffff;
    height: 100%;
    width: 27%;
    top: 0%;
    width: 431px;
    > .cart__buy {
        > div {
            display: flex;
            flex-direction: column;
            margin-top: 30px;

            gap: 30px;
            > h1 {
                margin: -6px 0 0 32px;
            }
            > div {
                display: flex;
                margin-left: 32px;
                align-items: center;
                gap: 21px;
                border-radius: 10px;
                border: 1px solid rgba(128, 128, 128, 0.315);
                width: 371px;

                > img {
                    cursor: pointer;
                }

                > div {
                    > img {
                        border-radius: 10px;
                    }
                    > h1 {
                        font-size: 0.8rem;
                        width: 150px;
                    }
                }
            }
        }
    }
}
